<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtech.aa.mapper.AaListParamsStdModelDetailMapper">
    <resultMap id="aaListParamsStdModelResult" type="AaListParamsStdModelDetail">
        <result property="id" column="ID" jdbcType="INTEGER"/>
        <result property="prodType" column="PROD_TYPE" jdbcType="VARCHAR"/>
        <result property="aa1" column="AA1" jdbcType="VARCHAR"/>
        <result property="aa2" column="AA2" jdbcType="VARCHAR"/>
        <result property="aa3" column="AA3" jdbcType="VARCHAR"/>
        <result property="backToPosition" column="BACK_TO_POSITION" jdbcType="VARCHAR"/>
        <result property="blemish" column="BLEMISH" jdbcType="VARCHAR"/>
        <result property="clampOnOff" column="CLAMP_ON_OFF" jdbcType="VARCHAR"/>
        <result property="chartAlignment" column="CHART_ALIGNMENT" jdbcType="VARCHAR"/>
        <result property="chartAlignment1" column="CHART_ALIGNMENT1" jdbcType="VARCHAR"/>
        <result property="chartAlignment2" column="CHART_ALIGNMENT2" jdbcType="VARCHAR"/>
        <result property="delay" column="DELAY" jdbcType="VARCHAR"/>
        <result property="destroy" column="DESTROY" jdbcType="VARCHAR"/>
        <result property="destroyStart" column="DESTROY_START" jdbcType="VARCHAR"/>
        <result property="dispense" column="DISPENSE" jdbcType="VARCHAR"/>
        <result property="epoxyInspection" column="EPOXY_INSPECTION" jdbcType="VARCHAR"/>
        <result property="epoxyInspectionAuto" column="EPOXY_INSPECTION_AUTO" jdbcType="VARCHAR"/>
        <result property="grab" column="GRAB" jdbcType="VARCHAR"/>
        <result property="gripperOpen" column="GRIPPER_OPEN" jdbcType="VARCHAR"/>
        <result property="init" column="INIT" jdbcType="VARCHAR"/>
        <result property="lpBlemish" column="LP_BLEMISH" jdbcType="VARCHAR"/>
        <result property="lpOc" column="LP_OC" jdbcType="VARCHAR"/>
        <result property="lpOcCheck" column="LP_OC_CHECK" jdbcType="VARCHAR"/>
        <result property="lpOn" column="LP_ON" jdbcType="VARCHAR"/>
        <result property="lpOnBlemish" column="LP_ON_BLEMISH" jdbcType="VARCHAR"/>
        <result property="lpOff" column="LP_OFF" jdbcType="VARCHAR"/>
        <result property="moveToBlemishPos" column="MOVE_TO_BLEMISH_POS" jdbcType="VARCHAR"/>
        <result property="mtfCheck" column="MTF_CHECK" jdbcType="VARCHAR"/>
        <result property="mtfCheck1" column="MTF_CHECK1" jdbcType="VARCHAR"/>
        <result property="mtfCheck2" column="MTF_CHECK2" jdbcType="VARCHAR"/>
        <result property="mtfCheck3" column="MTF_CHECK3" jdbcType="VARCHAR"/>
        <result property="openCheck" column="OPEN_CHECK" jdbcType="VARCHAR"/>
        <result property="recordPosition" column="RECORD_POSITION" jdbcType="VARCHAR"/>
        <result property="reInit" column="RE_INIT" jdbcType="VARCHAR"/>
        <result property="saveOc" column="SAVE_OC" jdbcType="VARCHAR"/>
        <result property="saveMtf" column="SAVE_MTF" jdbcType="VARCHAR"/>
        <result property="senserReset" column="SENSER_RESET" jdbcType="VARCHAR"/>
        <result property="sid" column="SID" jdbcType="VARCHAR"/>
        <result property="uvon" column="UVON" jdbcType="VARCHAR"/>
        <result property="uvoff" column="UVOFF" jdbcType="VARCHAR"/>
        <result property="vcmHall" column="VCM_HALL" jdbcType="VARCHAR"/>
        <result property="vcmHall2" column="VCM_HALL2" jdbcType="VARCHAR"/>
        <result property="vcmMoveToZ" column="VCM_MOVE_TO_Z" jdbcType="VARCHAR"/>
        <result property="vcmMoveToZPos" column="VCM_MOVE_TO_Z_POS" jdbcType="VARCHAR"/>
        <result property="vcmPowerOffCheck" column="VCM_POWER_OFF_CHECK" jdbcType="VARCHAR"/>
        <result property="vcmInit" column="VCM_INIT" jdbcType="VARCHAR"/>
        <result property="vcmOisInit" column="VCM_OIS_INIT" jdbcType="VARCHAR"/>
        <result property="vcmPowerOff" column="VCM_POWER_OFF" jdbcType="VARCHAR"/>
        <result property="vcmPowerOn" column="VCM_POWER_ON" jdbcType="VARCHAR"/>
        <result property="vcmTop" column="VCM_TOP" jdbcType="VARCHAR"/>
        <result property="vcmTopHall" column="VCM_TOP_HALL" jdbcType="VARCHAR"/>
        <result property="vcmZ" column="VCM_Z" jdbcType="VARCHAR"/>
        <result property="vcmZHall" column="VCM_Z_HALL" jdbcType="VARCHAR"/>
        <result property="yLevel" column="Y_LEVEL" jdbcType="VARCHAR"/>

        <result property="aa1RoiCc" column="AA1_ROI_CC" jdbcType="VARCHAR"/>
        <result property="aa1RoiUl" column="AA1_ROI_UL" jdbcType="VARCHAR"/>
        <result property="aa1RoiUr" column="AA1_ROI_UR" jdbcType="VARCHAR"/>
        <result property="aa1RoiLl" column="AA1_ROI_LL" jdbcType="VARCHAR"/>
        <result property="aa1RoiLr" column="AA1_ROI_LR" jdbcType="VARCHAR"/>
        <result property="aa1FC" column="AA1_FC" jdbcType="VARCHAR"/>
        <result property="aa1F1" column="AA1_F1" jdbcType="VARCHAR"/>
        <result property="aa1F2" column="AA1_F2" jdbcType="VARCHAR"/>
        <result property="aa1F3" column="AA1_F3" jdbcType="VARCHAR"/>
        <result property="aa1F4" column="AA1_F4" jdbcType="VARCHAR"/>
        <result property="aa1MtfOffAxisCheck1" column="AA1_MTF_OFF_AXIS_CHECK1" jdbcType="VARCHAR"/>
        <result property="aa1MtfOffAxisCheck2" column="AA1_MTF_OFF_AXIS_CHECK2" jdbcType="VARCHAR"/>
        <result property="aa1MtfOffAxisCheck3" column="AA1_MTF_OFF_AXIS_CHECK3" jdbcType="VARCHAR"/>
        <result property="aa2RoiCc" column="AA2_ROI_CC" jdbcType="VARCHAR"/>
        <result property="aa2RoiUl" column="AA2_ROI_UL" jdbcType="VARCHAR"/>
        <result property="aa2RoiUr" column="AA2_ROI_UR" jdbcType="VARCHAR"/>
        <result property="aa2RoiLl" column="AA2_ROI_LL" jdbcType="VARCHAR"/>
        <result property="aa2RoiLr" column="AA2_ROI_LR" jdbcType="VARCHAR"/>
        <result property="aa2FC" column="AA2_FC" jdbcType="VARCHAR"/>
        <result property="aa2F1" column="AA2_F1" jdbcType="VARCHAR"/>
        <result property="aa2F2" column="AA2_F2" jdbcType="VARCHAR"/>
        <result property="aa2F3" column="AA2_F3" jdbcType="VARCHAR"/>
        <result property="aa2F4" column="AA2_F4" jdbcType="VARCHAR"/>
        <result property="aa2MtfOffAxisCheck1" column="AA2_MTF_OFF_AXIS_CHECK1" jdbcType="VARCHAR"/>
        <result property="aa2MtfOffAxisCheck2" column="AA2_MTF_OFF_AXIS_CHECK2" jdbcType="VARCHAR"/>
        <result property="aa2MtfOffAxisCheck3" column="AA2_MTF_OFF_AXIS_CHECK3" jdbcType="VARCHAR"/>
        <result property="aa3RoiCc" column="AA3_ROI_CC" jdbcType="VARCHAR"/>
        <result property="aa3RoiUl" column="AA3_ROI_UL" jdbcType="VARCHAR"/>
        <result property="aa3RoiUr" column="AA3_ROI_UR" jdbcType="VARCHAR"/>
        <result property="aa3RoiLl" column="AA3_ROI_LL" jdbcType="VARCHAR"/>
        <result property="aa3RoiLr" column="AA3_ROI_LR" jdbcType="VARCHAR"/>
        <result property="aa3FC" column="AA3_FC" jdbcType="VARCHAR"/>
        <result property="aa3F1" column="AA3_F1" jdbcType="VARCHAR"/>
        <result property="aa3F2" column="AA3_F2" jdbcType="VARCHAR"/>
        <result property="aa3F3" column="AA3_F3" jdbcType="VARCHAR"/>
        <result property="aa3F4" column="AA3_F4" jdbcType="VARCHAR"/>
        <result property="aa3MtfOffAxisCheck1" column="AA3_MTF_OFF_AXIS_CHECK1" jdbcType="VARCHAR"/>
        <result property="aa3MtfOffAxisCheck2" column="AA3_MTF_OFF_AXIS_CHECK2" jdbcType="VARCHAR"/>
        <result property="aa3MtfOffAxisCheck3" column="AA3_MTF_OFF_AXIS_CHECK3" jdbcType="VARCHAR"/>
        <result property="mtfCheckFC" column="MTF_CHECK_FC" jdbcType="VARCHAR"/>
        <result property="mtfCheckF1" column="MTF_CHECK_F1" jdbcType="VARCHAR"/>
        <result property="mtfCheckF2" column="MTF_CHECK_F2" jdbcType="VARCHAR"/>
        <result property="mtfCheckF3" column="MTF_CHECK_F3" jdbcType="VARCHAR"/>
        <result property="mtfCheckF4" column="MTF_CHECK_F4" jdbcType="VARCHAR"/>
        <result property="mtfCheck1FC" column="MTF_CHECK1_FC" jdbcType="VARCHAR"/>
        <result property="mtfCheck1F1" column="MTF_CHECK1_F1" jdbcType="VARCHAR"/>
        <result property="mtfCheck1F2" column="MTF_CHECK1_F2" jdbcType="VARCHAR"/>
        <result property="mtfCheck1F3" column="MTF_CHECK1_F3" jdbcType="VARCHAR"/>
        <result property="mtfCheck1F4" column="MTF_CHECK1_F4" jdbcType="VARCHAR"/>
        <result property="mtfCheck2FC" column="MTF_CHECK2_FC" jdbcType="VARCHAR"/>
        <result property="mtfCheck2F1" column="MTF_CHECK2_F1" jdbcType="VARCHAR"/>
        <result property="mtfCheck2F2" column="MTF_CHECK2_F2" jdbcType="VARCHAR"/>
        <result property="mtfCheck2F3" column="MTF_CHECK2_F3" jdbcType="VARCHAR"/>
        <result property="mtfCheck2F4" column="MTF_CHECK2_F4" jdbcType="VARCHAR"/>
        <result property="mtfCheck3FC" column="MTF_CHECK3_FC" jdbcType="VARCHAR"/>
        <result property="mtfCheck3F1" column="MTF_CHECK3_F1" jdbcType="VARCHAR"/>
        <result property="mtfCheck3F2" column="MTF_CHECK3_F2" jdbcType="VARCHAR"/>
        <result property="mtfCheck3F3" column="MTF_CHECK3_F3" jdbcType="VARCHAR"/>
        <result property="mtfCheck3F4" column="MTF_CHECK3_F4" jdbcType="VARCHAR"/>
        <result property="chartAlignmentXResMin" column="CHART_ALIGNMENT_X_RES_MIN" jdbcType="VARCHAR"/>
        <result property="chartAlignmentXResMax" column="CHART_ALIGNMENT_X_RES_MAX" jdbcType="VARCHAR"/>
        <result property="chartAlignmentYResMin" column="CHART_ALIGNMENT_Y_RES_MIN" jdbcType="VARCHAR"/>
        <result property="chartAlignmentYResMax" column="CHART_ALIGNMENT_Y_RES_MAX" jdbcType="VARCHAR"/>
        <result property="chartAlignment1XResMin" column="CHART_ALIGNMENT1_X_RES_MIN" jdbcType="VARCHAR"/>
        <result property="chartAlignment1XResMax" column="CHART_ALIGNMENT1_X_RES_MAX" jdbcType="VARCHAR"/>
        <result property="chartAlignment1YResMin" column="CHART_ALIGNMENT1_Y_RES_MIN" jdbcType="VARCHAR"/>
        <result property="chartAlignment1YResMax" column="CHART_ALIGNMENT1_Y_RES_MAX" jdbcType="VARCHAR"/>
        <result property="chartAlignment2XResMin" column="CHART_ALIGNMENT2_X_RES_MIN" jdbcType="VARCHAR"/>
        <result property="chartAlignment2XResMax" column="CHART_ALIGNMENT2_X_RES_MAX" jdbcType="VARCHAR"/>
        <result property="chartAlignment2YResMin" column="CHART_ALIGNMENT2_Y_RES_MIN" jdbcType="VARCHAR"/>
        <result property="chartAlignment2YResMax" column="CHART_ALIGNMENT2_Y_RES_MAX" jdbcType="VARCHAR"/>
        <result property="epoxyInspectionInterval" column="EPOXY_INSPECTION_INTERVAL" jdbcType="VARCHAR"/>
        <result property="vcmCheckResultCheckMin" column="VCM_CHECK_RESULT_CHECK_MIN" jdbcType="VARCHAR"/>
        <result property="vcmCheckResultCheckMax" column="VCM_CHECK_RESULT_CHECK_MAX" jdbcType="VARCHAR"/>
        <result property="recordPositionUtXyzMove" column="RECORD_POSITION_UT_XYZ_MOVE" jdbcType="VARCHAR"/>
        <result property="ocCheckXOffsetMin" column="OC_CHECK_X_OFFSET_MIN" jdbcType="VARCHAR"/>
        <result property="ocCheckXOffsetMax" column="OC_CHECK_X_OFFSET_MAX" jdbcType="VARCHAR"/>
        <result property="ocCheckYOffsetMin" column="OC_CHECK_Y_OFFSET_MIN" jdbcType="VARCHAR"/>
        <result property="ocCheckYOffsetMax" column="OC_CHECK_Y_OFFSET_MAX" jdbcType="VARCHAR"/>
        <result property="saveOcXOffsetMin" column="SAVE_OC_X_OFFSET_MIN" jdbcType="VARCHAR"/>
        <result property="saveOcXOffsetMax" column="SAVE_OC_X_OFFSET_MAX" jdbcType="VARCHAR"/>
        <result property="saveOcYOffsetMin" column="SAVE_OC_Y_OFFSET_MIN" jdbcType="VARCHAR"/>
        <result property="saveOcYOffsetMax" column="SAVE_OC_Y_OFFSET_MAX" jdbcType="VARCHAR"/>
        <result property="saveMtfCcMin" column="SAVE_MTF_CC_MIN" jdbcType="VARCHAR"/>
        <result property="saveMtfCcMax" column="SAVE_MTF_CC_MAX" jdbcType="VARCHAR"/>

        <result property="createBy" column="CREATE_BY" jdbcType="VARCHAR"/>
        <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="UPDATE_BY" jdbcType="VARCHAR"/>
        <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="remark" column="REMARK" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="AaListParamsStdModelSql">
        SELECT ID,
               PROD_TYPE,
               AA1,
               AA2,
               AA3,
               BACK_TO_POSITION,
               BLEMISH,
               CLAMP_ON_OFF,
               CHART_ALIGNMENT,
               CHART_ALIGNMENT1,
               CHART_ALIGNMENT2,
               DELAY,
               DESTROY,
               DESTROY_START,
               DISPENSE,
               EPOXY_INSPECTION,
               EPOXY_INSPECTION_AUTO,
               GRAB,
               GRIPPER_OPEN,
               INIT,
               LP_BLEMISH,
               LP_OC,
               LP_OC_CHECK,
               LP_ON,
               LP_ON_BLEMISH,
               LP_OFF,
               MOVE_TO_BLEMISH_POS,
               MTF_CHECK,
               MTF_CHECK1,
               MTF_CHECK2,
               MTF_CHECK3,
               OPEN_CHECK,
               RECORD_POSITION,
               RE_INIT,
               SAVE_OC,
               SAVE_MTF,
               SENSER_RESET,
               SID,
               UVON,
               UVOFF,
               VCM_HALL,
               VCM_HALL2,
               VCM_MOVE_TO_Z,
               VCM_MOVE_TO_Z_POS,
               VCM_POWER_OFF_CHECK,
               VCM_INIT,
               VCM_OIS_INIT,
               VCM_POWER_OFF,
               VCM_POWER_ON,
               VCM_TOP,
               VCM_TOP_HALL,
               VCM_Z,
               VCM_Z_HALL,
               Y_LEVEL,
               AA1_ROI_CC,
               AA1_ROI_UL,
               AA1_ROI_UR,
               AA1_ROI_LL,
               AA1_ROI_LR,
               AA1_FC,
               AA1_F1,
               AA1_F2,
               AA1_F3,
               AA1_F4,
               AA1_MTF_OFF_AXIS_CHECK1,
               AA1_MTF_OFF_AXIS_CHECK2,
               AA1_MTF_OFF_AXIS_CHECK3,
               AA2_ROI_CC,
               AA2_ROI_UL,
               AA2_ROI_UR,
               AA2_ROI_LL,
               AA2_ROI_LR,
               AA2_FC,
               AA2_F1,
               AA2_F2,
               AA2_F3,
               AA2_F4,
               AA2_MTF_OFF_AXIS_CHECK1,
               AA2_MTF_OFF_AXIS_CHECK2,
               AA2_MTF_OFF_AXIS_CHECK3,
               AA3_ROI_CC,
               AA3_ROI_UL,
               AA3_ROI_UR,
               AA3_ROI_LL,
               AA3_ROI_LR,
               AA3_FC,
               AA3_F1,
               AA3_F2,
               AA3_F3,
               AA3_F4,
               AA3_MTF_OFF_AXIS_CHECK1,
               AA3_MTF_OFF_AXIS_CHECK2,
               AA3_MTF_OFF_AXIS_CHECK3,
               MTF_CHECK_FC,
               MTF_CHECK_F1,
               MTF_CHECK_F2,
               MTF_CHECK_F3,
               MTF_CHECK_F4,
               MTF_CHECK2_FC,
               MTF_CHECK2_F1,
               MTF_CHECK2_F2,
               MTF_CHECK2_F3,
               MTF_CHECK2_F4,
               MTF_CHECK3_FC,
               MTF_CHECK3_F1,
               MTF_CHECK3_F2,
               MTF_CHECK3_F3,
               MTF_CHECK3_F4,
               CHART_ALIGNMENT_X_RES_MIN,
               CHART_ALIGNMENT_X_RES_MAX,
               CHART_ALIGNMENT_Y_RES_MIN,
               CHART_ALIGNMENT_Y_RES_MAX,
               CHART_ALIGNMENT1_X_RES_MIN,
               CHART_ALIGNMENT1_X_RES_MAX,
               CHART_ALIGNMENT1_Y_RES_MIN,
               CHART_ALIGNMENT1_Y_RES_MAX,
               CHART_ALIGNMENT2_X_RES_MIN,
               CHART_ALIGNMENT2_X_RES_MAX,
               CHART_ALIGNMENT2_Y_RES_MIN,
               CHART_ALIGNMENT2_Y_RES_MAX,
               EPOXY_INSPECTION_INTERVAL,
               VCM_CHECK_RESULT_CHECK_MIN,
               VCM_CHECK_RESULT_CHECK_MAX,
               RECORD_POSITION_UT_XYZ_MOVE,
               OC_CHECK_X_OFFSET_MIN,
               OC_CHECK_X_OFFSET_MAX,
               OC_CHECK_Y_OFFSET_MIN,
               OC_CHECK_Y_OFFSET_MAX,
               SAVE_OC_X_OFFSET_MIN,
               SAVE_OC_X_OFFSET_MAX,
               SAVE_OC_Y_OFFSET_MIN,
               SAVE_OC_Y_OFFSET_MAX,
               SAVE_MTF_CC_MIN,
               SAVE_MTF_CC_MAX,
               CREATE_BY,
               CREATE_TIME,
               UPDATE_BY,
               UPDATE_TIME,
               REMARK
        FROM IMBIZ.IM_AA_LIST_PARAMS_STD_MODEL
    </sql>

    <insert id="insertAaListParamsStdModel" useGeneratedKeys="true" parameterType="AaListParamsStdModelDetail">
        INSERT INTO IMBIZ.IM_AA_LIST_PARAMS_STD_MODEL
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="prodType != null">PROD_TYPE,</if>
            <if test="aa1 != null">AA1,</if>
            <if test="aa2 != null">AA2,</if>
            <if test="aa3 != null">AA3,</if>
            <if test="backToPosition != null">BACK_TO_POSITION,</if>
            <if test="blemish != null">BLEMISH,</if>
            <if test="clampOnOff != null">CLAMP_ON_OFF,</if>
            <if test="chartAlignment != null">CHART_ALIGNMENT,</if>
            <if test="chartAlignment1 != null">CHART_ALIGNMENT1,</if>
            <if test="chartAlignment2 != null">CHART_ALIGNMENT2,</if>
            <if test="delay != null">DELAY,</if>
            <if test="destroy != null">DESTROY,</if>
            <if test="destroyStart != null">DESTROY_START,</if>
            <if test="dispense != null">DISPENSE,</if>
            <if test="epoxyInspection != null">EPOXY_INSPECTION,</if>
            <if test="epoxyInspectionAuto != null">EPOXY_INSPECTION_AUTO,</if>
            <if test="grab != null">GRAB,</if>
            <if test="gripperOpen != null">GRIPPER_OPEN,</if>
            <if test="init != null">INIT,</if>
            <if test="lpBlemish != null">LP_BLEMISH,</if>
            <if test="lpOc != null">LP_OC,</if>
            <if test="lpOcCheck != null">LP_OC_CHECK,</if>
            <if test="lpOn != null">LP_ON,</if>
            <if test="lpOnBlemish != null">LP_ON_BLEMISH,</if>
            <if test="lpOff != null">LP_OFF,</if>
            <if test="moveToBlemishPos != null">MOVE_TO_BLEMISH_POS,</if>
            <if test="mtfCheck != null">MTF_CHECK,</if>
            <if test="mtfCheck1 != null">MTF_CHECK1,</if>
            <if test="mtfCheck2 != null">MTF_CHECK2,</if>
            <if test="mtfCheck3 != null">MTF_CHECK3,</if>
            <if test="openCheck != null">OPEN_CHECK,</if>
            <if test="recordPosition != null">RECORD_POSITION,</if>
            <if test="reInit != null">RE_INIT,</if>
            <if test="saveOc != null">SAVE_OC,</if>
            <if test="saveMtf != null">SAVE_MTF,</if>
            <if test="senserReset != null">SENSER_RESET,</if>
            <if test="sid != null">SID,</if>
            <if test="uvon != null">UVON,</if>
            <if test="uvoff != null">UVOFF,</if>
            <if test="vcmHall != null">VCM_HALL,</if>
            <if test="vcmHall2 != null">VCM_HALL2,</if>
            <if test="vcmMoveToZ != null">VCM_MOVE_TO_Z,</if>
            <if test="vcmMoveToZPos != null">VCM_MOVE_TO_Z_POS,</if>
            <if test="vcmPowerOffCheck != null">VCM_POWER_OFF_CHECK,</if>
            <if test="vcmInit != null">VCM_INIT,</if>
            <if test="vcmOisInit != null">VCM_OIS_INIT,</if>
            <if test="vcmPowerOff != null">VCM_POWER_OFF,</if>
            <if test="vcmPowerOn != null">VCM_POWER_ON,</if>
            <if test="vcmTop != null">VCM_TOP,</if>
            <if test="vcmTopHall != null">VCM_TOP_HALL,</if>
            <if test="vcmZ != null">VCM_Z,</if>
            <if test="vcmZHall != null">VCM_Z_HALL,</if>
            <if test="yLevel != null">Y_LEVEL,</if>
            <if test="aa1RoiCc != null">AA1_ROI_CC,</if>
            <if test="aa1RoiUl != null">AA1_ROI_UL,</if>
            <if test="aa1RoiUr != null">AA1_ROI_UR,</if>
            <if test="aa1RoiLl != null">AA1_ROI_LL,</if>
            <if test="aa1RoiLr != null">AA1_ROI_LR,</if>
            <if test="aa1FC != null">AA1_FC,</if>
            <if test="aa1F1 != null">AA1_F1,</if>
            <if test="aa1F2 != null">AA1_F2,</if>
            <if test="aa1F3 != null">AA1_F3,</if>
            <if test="aa1F4 != null">AA1_F4,</if>
            <if test="aa1MtfOffAxisCheck1 != null">AA1_MTF_OFF_AXIS_CHECK1,</if>
            <if test="aa1MtfOffAxisCheck2 != null">AA1_MTF_OFF_AXIS_CHECK2,</if>
            <if test="aa1MtfOffAxisCheck3 != null">AA1_MTF_OFF_AXIS_CHECK3,</if>
            <if test="aa2RoiCc != null">AA2_ROI_CC,</if>
            <if test="aa2RoiUl != null">AA2_ROI_UL,</if>
            <if test="aa2RoiUr != null">AA2_ROI_UR,</if>
            <if test="aa2RoiLl != null">AA2_ROI_LL,</if>
            <if test="aa2RoiLr != null">AA2_ROI_LR,</if>
            <if test="aa2FC != null">AA2_FC,</if>
            <if test="aa2F1 != null">AA2_F1,</if>
            <if test="aa2F2 != null">AA2_F2,</if>
            <if test="aa2F3 != null">AA2_F3,</if>
            <if test="aa2F4 != null">AA2_F4,</if>
            <if test="aa2MtfOffAxisCheck1 != null">AA2_MTF_OFF_AXIS_CHECK1,</if>
            <if test="aa2MtfOffAxisCheck2 != null">AA2_MTF_OFF_AXIS_CHECK2,</if>
            <if test="aa2MtfOffAxisCheck3 != null">AA2_MTF_OFF_AXIS_CHECK3,</if>
            <if test="aa3RoiCc != null">AA3_ROI_CC,</if>
            <if test="aa3RoiUl != null">AA3_ROI_UL,</if>
            <if test="aa3RoiUr != null">AA3_ROI_UR,</if>
            <if test="aa3RoiLl != null">AA3_ROI_LL,</if>
            <if test="aa3RoiLr != null">AA3_ROI_LR,</if>
            <if test="aa3FC != null">AA3_FC,</if>
            <if test="aa3F1 != null">AA3_F1,</if>
            <if test="aa3F2 != null">AA3_F2,</if>
            <if test="aa3F3 != null">AA3_F3,</if>
            <if test="aa3F4 != null">AA3_F4,</if>
            <if test="aa3MtfOffAxisCheck1 != null">AA3_MTF_OFF_AXIS_CHECK1,</if>
            <if test="aa3MtfOffAxisCheck2 != null">AA3_MTF_OFF_AXIS_CHECK2,</if>
            <if test="aa3MtfOffAxisCheck3 != null">AA3_MTF_OFF_AXIS_CHECK3,</if>
            <if test="mtfCheckFC != null">MTF_CHECK_FC,</if>
            <if test="mtfCheckF1 != null">MTF_CHECK_F1,</if>
            <if test="mtfCheckF2 != null">MTF_CHECK_F2,</if>
            <if test="mtfCheckF3 != null">MTF_CHECK_F3,</if>
            <if test="mtfCheckF4 != null">MTF_CHECK_F4,</if>
            <if test="mtfCheck1FC != null">MTF_CHECK1_FC,</if>
            <if test="mtfCheck1F1 != null">MTF_CHECK1_F1,</if>
            <if test="mtfCheck1F2 != null">MTF_CHECK1_F2,</if>
            <if test="mtfCheck1F3 != null">MTF_CHECK1_F3,</if>
            <if test="mtfCheck1F4 != null">MTF_CHECK1_F4,</if>
            <if test="mtfCheck2FC != null">MTF_CHECK2_FC,</if>
            <if test="mtfCheck2F1 != null">MTF_CHECK2_F1,</if>
            <if test="mtfCheck2F2 != null">MTF_CHECK2_F2,</if>
            <if test="mtfCheck2F3 != null">MTF_CHECK2_F3,</if>
            <if test="mtfCheck2F4 != null">MTF_CHECK2_F4,</if>
            <if test="mtfCheck3FC != null">MTF_CHECK3_FC,</if>
            <if test="mtfCheck3F1 != null">MTF_CHECK3_F1,</if>
            <if test="mtfCheck3F2 != null">MTF_CHECK3_F2,</if>
            <if test="mtfCheck3F3 != null">MTF_CHECK3_F3,</if>
            <if test="mtfCheck3F4 != null">MTF_CHECK3_F4,</if>
            <if test="chartAlignmentXResMin != null">CHART_ALIGNMENT_X_RES_MIN,</if>
            <if test="chartAlignmentXResMax != null">CHART_ALIGNMENT_X_RES_MAX,</if>
            <if test="chartAlignmentYResMin != null">CHART_ALIGNMENT_Y_RES_MIN,</if>
            <if test="chartAlignmentYResMax != null">CHART_ALIGNMENT_Y_RES_MAX,</if>
            <if test="chartAlignment1XResMin != null">CHART_ALIGNMENT1_X_RES_MIN,</if>
            <if test="chartAlignment1XResMax != null">CHART_ALIGNMENT1_X_RES_MAX,</if>
            <if test="chartAlignment1YResMin != null">CHART_ALIGNMENT1_Y_RES_MIN,</if>
            <if test="chartAlignment1YResMax != null">CHART_ALIGNMENT1_Y_RES_MAX,</if>
            <if test="chartAlignment2XResMin != null">CHART_ALIGNMENT2_X_RES_MIN,</if>
            <if test="chartAlignment2XResMax != null">CHART_ALIGNMENT2_X_RES_MAX,</if>
            <if test="chartAlignment2YResMin != null">CHART_ALIGNMENT2_Y_RES_MIN,</if>
            <if test="chartAlignment2YResMax != null">CHART_ALIGNMENT2_Y_RES_MAX,</if>
            <if test="epoxyInspectionInterval != null">EPOXY_INSPECTION_INTERVAL,</if>
            <if test="vcmCheckResultCheckMin != null">VCM_CHECK_RESULT_CHECK_MIN,</if>
            <if test="vcmCheckResultCheckMax != null">VCM_CHECK_RESULT_CHECK_MAX,</if>
            <if test="recordPositionUtXyzMove != null">RECORD_POSITION_UT_XYZ_MOVE,</if>
            <if test="ocCheckXOffsetMin != null">OC_CHECK_X_OFFSET_MIN,</if>
            <if test="ocCheckXOffsetMax != null">OC_CHECK_X_OFFSET_MAX,</if>
            <if test="ocCheckYOffsetMin != null">OC_CHECK_Y_OFFSET_MIN,</if>
            <if test="ocCheckYOffsetMax != null">OC_CHECK_Y_OFFSET_MAX,</if>
            <if test="saveOcXOffsetMin != null">SAVE_OC_X_OFFSET_MIN,</if>
            <if test="saveOcXOffsetMax != null">SAVE_OC_X_OFFSET_MAX,</if>
            <if test="saveOcYOffsetMin != null">SAVE_OC_Y_OFFSET_MIN,</if>
            <if test="saveOcYOffsetMax != null">SAVE_OC_Y_OFFSET_MAX,</if>
            <if test="saveMtfCcMin != null">SAVE_MTF_CC_MIN,</if>
            <if test="saveMtfCcMax != null">SAVE_MTF_CC_MAX,</if>
            <if test="createBy != null">CREATE_BY,</if>
            <if test="createTime != null">CREATE_TIME,</if>
            <if test="updateBy != null">UPDATE_BY,</if>
            <if test="updateTime != null">UPDATE_TIME,</if>
            <if test="remark != null">REMARK,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="prodType != null">#{prodType},</if>
            <if test="aa1 != null">#{aa1},</if>
            <if test="aa2 != null">#{aa2},</if>
            <if test="aa3 != null">#{aa3},</if>
            <if test="backToPosition != null">#{backToPosition},</if>
            <if test="blemish != null">#{blemish},</if>
            <if test="clampOnOff != null">#{clampOnOff},</if>
            <if test="chartAlignment != null">#{chartAlignment},</if>
            <if test="chartAlignment1 != null">#{chartAlignment1},</if>
            <if test="chartAlignment2 != null">#{chartAlignment2},</if>
            <if test="delay != null">#{delay},</if>
            <if test="destroy != null">#{destroy},</if>
            <if test="destroyStart != null">#{destroyStart},</if>
            <if test="dispense != null">#{dispense},</if>
            <if test="epoxyInspection != null">#{epoxyInspection},</if>
            <if test="epoxyInspectionAuto != null">#{epoxyInspectionAuto},</if>
            <if test="grab != null">#{grab},</if>
            <if test="gripperOpen != null">#{gripperOpen},</if>
            <if test="init != null">#{init},</if>
            <if test="lpBlemish != null">#{lpBlemish},</if>
            <if test="lpOc != null">#{lpOc},</if>
            <if test="lpOcCheck != null">#{lpOcCheck},</if>
            <if test="lpOn != null">#{lpOn},</if>
            <if test="lpOnBlemish != null">#{lpOnBlemish},</if>
            <if test="lpOff != null">#{lpOff},</if>
            <if test="moveToBlemishPos != null">#{moveToBlemishPos},</if>
            <if test="mtfCheck != null">#{mtfCheck},</if>
            <if test="mtfCheck1 != null">#{mtfCheck1},</if>
            <if test="mtfCheck2 != null">#{mtfCheck2},</if>
            <if test="mtfCheck3 != null">#{mtfCheck3},</if>
            <if test="openCheck != null">#{openCheck},</if>
            <if test="recordPosition != null">#{recordPosition},</if>
            <if test="reInit != null">#{reInit},</if>
            <if test="saveOc != null">#{saveOc},</if>
            <if test="saveMtf != null">#{saveMtf},</if>
            <if test="senserReset != null">#{senserReset},</if>
            <if test="sid != null">#{sid},</if>
            <if test="uvon != null">#{uvon},</if>
            <if test="uvoff != null">#{uvoff},</if>
            <if test="vcmHall != null">#{vcmHall},</if>
            <if test="vcmHall2 != null">#{vcmHall2},</if>
            <if test="vcmMoveToZ != null">#{vcmMoveToZ},</if>
            <if test="vcmMoveToZPos != null">#{vcmMoveToZPos},</if>
            <if test="vcmPowerOffCheck != null">#{vcmPowerOffCheck},</if>
            <if test="vcmInit != null">#{vcmInit},</if>
            <if test="vcmOisInit != null">#{vcmOisInit},</if>
            <if test="vcmPowerOff != null">#{vcmPowerOff},</if>
            <if test="vcmPowerOn != null">#{vcmPowerOn},</if>
            <if test="vcmTop != null">#{vcmTop},</if>
            <if test="vcmTopHall != null">#{vcmTopHall},</if>
            <if test="vcmZ != null">#{vcmZ},</if>
            <if test="vcmZHall != null">#{vcmZHall},</if>
            <if test="yLevel != null">#{yLevel},</if>
            <if test="aa1RoiCc != null">#{aa1RoiCc},</if>
            <if test="aa1RoiUl != null">#{aa1RoiUl},</if>
            <if test="aa1RoiUr != null">#{aa1RoiUr},</if>
            <if test="aa1RoiLl != null">#{aa1RoiLl},</if>
            <if test="aa1RoiLr != null">#{aa1RoiLr},</if>
            <if test="aa1FC != null">#{aa1FC},</if>
            <if test="aa1F1 != null">#{aa1F1},</if>
            <if test="aa1F2 != null">#{aa1F2},</if>
            <if test="aa1F3 != null">#{aa1F3},</if>
            <if test="aa1F4 != null">#{aa1F4},</if>
            <if test="aa1MtfOffAxisCheck1 != null">#{aa1MtfOffAxisCheck1},</if>
            <if test="aa1MtfOffAxisCheck2 != null">#{aa1MtfOffAxisCheck2},</if>
            <if test="aa1MtfOffAxisCheck3 != null">#{aa1MtfOffAxisCheck3},</if>
            <if test="aa2RoiCc != null">#{aa2RoiCc},</if>
            <if test="aa2RoiUl != null">#{aa2RoiUl},</if>
            <if test="aa2RoiUr != null">#{aa2RoiUr},</if>
            <if test="aa2RoiLl != null">#{aa2RoiLl},</if>
            <if test="aa2RoiLr != null">#{aa2RoiLr},</if>
            <if test="aa2FC != null">#{aa2FC},</if>
            <if test="aa2F1 != null">#{aa2F1},</if>
            <if test="aa2F2 != null">#{aa2F2},</if>
            <if test="aa2F3 != null">#{aa2F3},</if>
            <if test="aa2F4 != null">#{aa2F4},</if>
            <if test="aa2MtfOffAxisCheck1 != null">#{aa2MtfOffAxisCheck1},</if>
            <if test="aa2MtfOffAxisCheck2 != null">#{aa2MtfOffAxisCheck2},</if>
            <if test="aa2MtfOffAxisCheck3 != null">#{aa2MtfOffAxisCheck3},</if>
            <if test="aa3RoiCc != null">#{aa3RoiCc},</if>
            <if test="aa3RoiUl != null">#{aa3RoiUl},</if>
            <if test="aa3RoiUr != null">#{aa3RoiUr},</if>
            <if test="aa3RoiLl != null">#{aa3RoiLl},</if>
            <if test="aa3RoiLr != null">#{aa3RoiLr},</if>
            <if test="aa3FC != null">#{aa3FC},</if>
            <if test="aa3F1 != null">#{aa3F1},</if>
            <if test="aa3F2 != null">#{aa3F2},</if>
            <if test="aa3F3 != null">#{aa3F3},</if>
            <if test="aa3F4 != null">#{aa3F4},</if>
            <if test="aa3MtfOffAxisCheck1 != null">#{aa3MtfOffAxisCheck1},</if>
            <if test="aa3MtfOffAxisCheck2 != null">#{aa3MtfOffAxisCheck2},</if>
            <if test="aa3MtfOffAxisCheck3 != null">#{aa3MtfOffAxisCheck3},</if>
            <if test="mtfCheckFC != null">#{mtfCheckFC},</if>
            <if test="mtfCheckF1 != null">#{mtfCheckF1},</if>
            <if test="mtfCheckF2 != null">#{mtfCheckF2},</if>
            <if test="mtfCheckF3 != null">#{mtfCheckF3},</if>
            <if test="mtfCheckF4 != null">#{mtfCheckF4},</if>
            <if test="mtfCheck1FC != null">#{mtfCheck1FC},</if>
            <if test="mtfCheck1F1 != null">#{mtfCheck1F1},</if>
            <if test="mtfCheck1F2 != null">#{mtfCheck1F2},</if>
            <if test="mtfCheck1F3 != null">#{mtfCheck1F3},</if>
            <if test="mtfCheck1F4 != null">#{mtfCheck1F4},</if>
            <if test="mtfCheck2FC != null">#{mtfCheck2FC},</if>
            <if test="mtfCheck2F1 != null">#{mtfCheck2F1},</if>
            <if test="mtfCheck2F2 != null">#{mtfCheck2F2},</if>
            <if test="mtfCheck2F3 != null">#{mtfCheck2F3},</if>
            <if test="mtfCheck2F4 != null">#{mtfCheck2F4},</if>
            <if test="mtfCheck3FC != null">#{mtfCheck3FC},</if>
            <if test="mtfCheck3F1 != null">#{mtfCheck3F1},</if>
            <if test="mtfCheck3F2 != null">#{mtfCheck3F2},</if>
            <if test="mtfCheck3F3 != null">#{mtfCheck3F3},</if>
            <if test="mtfCheck3F4 != null">#{mtfCheck3F4},</if>
            <if test="chartAlignmentXResMin != null">#{chartAlignmentXResMin},</if>
            <if test="chartAlignmentXResMax != null">#{chartAlignmentXResMax},</if>
            <if test="chartAlignmentYResMin != null">#{chartAlignmentYResMin},</if>
            <if test="chartAlignmentYResMax != null">#{chartAlignmentYResMax},</if>
            <if test="chartAlignment1XResMin != null">#{chartAlignment1XResMin},</if>
            <if test="chartAlignment1XResMax != null">#{chartAlignment1XResMax},</if>
            <if test="chartAlignment1YResMin != null">#{chartAlignment1YResMin},</if>
            <if test="chartAlignment1YResMax != null">#{chartAlignment1YResMax},</if>
            <if test="chartAlignment2XResMin != null">#{chartAlignment2XResMin},</if>
            <if test="chartAlignment2XResMax != null">#{chartAlignment2XResMax},</if>
            <if test="chartAlignment2YResMin != null">#{chartAlignment2YResMin},</if>
            <if test="chartAlignment2YResMax != null">#{chartAlignment2YResMax},</if>
            <if test="epoxyInspectionInterval != null">#{epoxyInspectionInterval},</if>
            <if test="vcmCheckResultCheckMin != null">#{vcmCheckResultCheckMin},</if>
            <if test="vcmCheckResultCheckMax != null">#{vcmCheckResultCheckMax},</if>
            <if test="recordPositionUtXyzMove != null">#{recordPositionUtXyzMove},</if>
            <if test="ocCheckXOffsetMin != null">#{ocCheckXOffsetMin},</if>
            <if test="ocCheckXOffsetMax != null">#{ocCheckXOffsetMax},</if>
            <if test="ocCheckYOffsetMin != null">#{ocCheckYOffsetMin},</if>
            <if test="ocCheckYOffsetMax != null">#{ocCheckYOffsetMax},</if>
            <if test="saveOcXOffsetMin != null">#{saveOcXOffsetMin},</if>
            <if test="saveOcXOffsetMax != null">#{saveOcXOffsetMax},</if>
            <if test="saveOcYOffsetMin != null">#{saveOcYOffsetMin},</if>
            <if test="saveOcYOffsetMax != null">#{saveOcYOffsetMax},</if>
            <if test="saveMtfCcMin != null">#{saveMtfCcMin},</if>
            <if test="saveMtfCcMax != null">#{saveMtfCcMax},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark}</if>
        </trim>
    </insert>

    <update id="updateAaListParamsStdModel">
        UPDATE IMBIZ.IM_AA_LIST_PARAMS_STD_MODEL
        SET AA1 = #{aa1,jdbcType=VARCHAR},
        AA2 = #{aa2,jdbcType=VARCHAR},
        AA3 = #{aa3,jdbcType=VARCHAR},
        BACK_TO_POSITION = #{backToPosition,jdbcType=VARCHAR},
        BLEMISH = #{blemish,jdbcType=VARCHAR},
        CLAMP_ON_OFF = #{clampOnOff,jdbcType=VARCHAR},
        CHART_ALIGNMENT = #{chartAlignment,jdbcType=VARCHAR},
        CHART_ALIGNMENT1 = #{chartAlignment1,jdbcType=VARCHAR},
        CHART_ALIGNMENT2 = #{chartAlignment2,jdbcType=VARCHAR},
        DELAY = #{delay,jdbcType=VARCHAR},
        DESTROY = #{destroy,jdbcType=VARCHAR},
        DESTROY_START = #{destroyStart,jdbcType=VARCHAR},
        DISPENSE = #{dispense,jdbcType=VARCHAR},
        EPOXY_INSPECTION = #{epoxyInspection,jdbcType=VARCHAR},
        EPOXY_INSPECTION_AUTO = #{epoxyInspectionAuto,jdbcType=VARCHAR},
        GRAB = #{grab,jdbcType=VARCHAR},
        GRIPPER_OPEN = #{gripperOpen,jdbcType=VARCHAR},
        INIT = #{init,jdbcType=VARCHAR},
        LP_BLEMISH = #{lpBlemish,jdbcType=VARCHAR},
        LP_OC = #{lpOc,jdbcType=VARCHAR},
        LP_OC_CHECK = #{lpOcCheck,jdbcType=VARCHAR},
        LP_ON = #{lpOn,jdbcType=VARCHAR},
        LP_ON_BLEMISH = #{lpOnBlemish,jdbcType=VARCHAR},
        LP_OFF = #{lpOff,jdbcType=VARCHAR},
        MOVE_TO_BLEMISH_POS = #{moveToBlemishPos,jdbcType=VARCHAR},
        MTF_CHECK = #{mtfCheck,jdbcType=VARCHAR},
        MTF_CHECK1 = #{mtfCheck1,jdbcType=VARCHAR},
        MTF_CHECK2 = #{mtfCheck2,jdbcType=VARCHAR},
        MTF_CHECK3 = #{mtfCheck3,jdbcType=VARCHAR},
        OPEN_CHECK = #{openCheck,jdbcType=VARCHAR},
        RECORD_POSITION = #{recordPosition,jdbcType=VARCHAR},
        RE_INIT = #{reInit,jdbcType=VARCHAR},
        SAVE_OC = #{saveOc,jdbcType=VARCHAR},
        SAVE_MTF = #{saveMtf,jdbcType=VARCHAR},
        SENSER_RESET = #{senserReset,jdbcType=VARCHAR},
        SID = #{sid,jdbcType=VARCHAR},
        UVON = #{uvon,jdbcType=VARCHAR},
        UVOFF = #{uvoff,jdbcType=VARCHAR},
        VCM_HALL = #{vcmHall,jdbcType=VARCHAR},
        VCM_HALL2 = #{vcmHall2,jdbcType=VARCHAR},
        VCM_MOVE_TO_Z = #{vcmMoveToZ,jdbcType=VARCHAR},
        VCM_MOVE_TO_Z_POS = #{vcmMoveToZPos,jdbcType=VARCHAR},
        VCM_POWER_OFF_CHECK = #{vcmPowerOffCheck,jdbcType=VARCHAR},
        VCM_INIT = #{vcmInit,jdbcType=VARCHAR},
        VCM_OIS_INIT = #{vcmOisInit,jdbcType=VARCHAR},
        VCM_POWER_OFF = #{vcmPowerOff,jdbcType=VARCHAR},
        VCM_POWER_ON = #{vcmPowerOn,jdbcType=VARCHAR},
        VCM_TOP = #{vcmTop,jdbcType=VARCHAR},
        VCM_TOP_HALL = #{vcmTopHall,jdbcType=VARCHAR},
        VCM_Z = #{vcmZ,jdbcType=VARCHAR},
        VCM_Z_HALL = #{vcmZHall,jdbcType=VARCHAR},
        Y_LEVEL = #{yLevel,jdbcType=VARCHAR},

        AA1_ROI_CC = #{aa1RoiCc,jdbcType=VARCHAR},
        AA1_ROI_UL = #{aa1RoiUl,jdbcType=VARCHAR},
        AA1_ROI_UR = #{aa1RoiUr,jdbcType=VARCHAR},
        AA1_ROI_LL = #{aa1RoiLl,jdbcType=VARCHAR},
        AA1_ROI_LR = #{aa1RoiLr,jdbcType=VARCHAR},
        AA1_FC = #{aa1FC,jdbcType=VARCHAR},
        AA1_F1 = #{aa1F1,jdbcType=VARCHAR},
        AA1_F2 = #{aa1F2,jdbcType=VARCHAR},
        AA1_F3 = #{aa1F3,jdbcType=VARCHAR},
        AA1_F4 = #{aa1F4,jdbcType=VARCHAR},
        AA1_MTF_OFF_AXIS_CHECK1 = #{aa1MtfOffAxisCheck1,jdbcType=VARCHAR},
        AA1_MTF_OFF_AXIS_CHECK2 = #{aa1MtfOffAxisCheck2,jdbcType=VARCHAR},
        AA1_MTF_OFF_AXIS_CHECK3 = #{aa1MtfOffAxisCheck3,jdbcType=VARCHAR},

        AA2_ROI_CC = #{aa2RoiCc,jdbcType=VARCHAR},
        AA2_ROI_UL = #{aa2RoiUl,jdbcType=VARCHAR},
        AA2_ROI_UR = #{aa2RoiUr,jdbcType=VARCHAR},
        AA2_ROI_LL = #{aa2RoiLl,jdbcType=VARCHAR},
        AA2_ROI_LR = #{aa2RoiLr,jdbcType=VARCHAR},
        AA2_FC = #{aa2FC,jdbcType=VARCHAR},
        AA2_F1 = #{aa2F1,jdbcType=VARCHAR},
        AA2_F2 = #{aa2F2,jdbcType=VARCHAR},
        AA2_F3 = #{aa2F3,jdbcType=VARCHAR},
        AA2_F4 = #{aa2F4,jdbcType=VARCHAR},
        AA2_MTF_OFF_AXIS_CHECK1 = #{aa2MtfOffAxisCheck1,jdbcType=VARCHAR},
        AA2_MTF_OFF_AXIS_CHECK2 = #{aa2MtfOffAxisCheck2,jdbcType=VARCHAR},
        AA2_MTF_OFF_AXIS_CHECK3 = #{aa2MtfOffAxisCheck3,jdbcType=VARCHAR},

        AA3_ROI_CC = #{aa3RoiCc,jdbcType=VARCHAR},
        AA3_ROI_UL = #{aa3RoiUl,jdbcType=VARCHAR},
        AA3_ROI_UR = #{aa3RoiUr,jdbcType=VARCHAR},
        AA3_ROI_LL = #{aa3RoiLl,jdbcType=VARCHAR},
        AA3_ROI_LR = #{aa3RoiLr,jdbcType=VARCHAR},
        AA3_FC = #{aa3FC,jdbcType=VARCHAR},
        AA3_F1 = #{aa3F1,jdbcType=VARCHAR},
        AA3_F2 = #{aa3F2,jdbcType=VARCHAR},
        AA3_F3 = #{aa3F3,jdbcType=VARCHAR},
        AA3_F4 = #{aa3F4,jdbcType=VARCHAR},
        AA3_MTF_OFF_AXIS_CHECK1 = #{aa3MtfOffAxisCheck1,jdbcType=VARCHAR},
        AA3_MTF_OFF_AXIS_CHECK2 = #{aa3MtfOffAxisCheck2,jdbcType=VARCHAR},
        AA3_MTF_OFF_AXIS_CHECK3 = #{aa3MtfOffAxisCheck3,jdbcType=VARCHAR},

        MTF_CHECK_FC = #{mtfCheckFC,jdbcType=VARCHAR},
        MTF_CHECK_F1 = #{mtfCheckF1,jdbcType=VARCHAR},
        MTF_CHECK_F2 = #{mtfCheckF2,jdbcType=VARCHAR},
        MTF_CHECK_F3 = #{mtfCheckF3,jdbcType=VARCHAR},
        MTF_CHECK_F4 = #{mtfCheckF4,jdbcType=VARCHAR},

        MTF_CHECK1_FC = #{mtfCheck1FC,jdbcType=VARCHAR},
        MTF_CHECK1_F1 = #{mtfCheck1F1,jdbcType=VARCHAR},
        MTF_CHECK1_F2 = #{mtfCheck1F2,jdbcType=VARCHAR},
        MTF_CHECK1_F3 = #{mtfCheck1F3,jdbcType=VARCHAR},
        MTF_CHECK1_F4 = #{mtfCheck1F4,jdbcType=VARCHAR},

        MTF_CHECK2_FC = #{mtfCheck2FC,jdbcType=VARCHAR},
        MTF_CHECK2_F1 = #{mtfCheck2F1,jdbcType=VARCHAR},
        MTF_CHECK2_F2 = #{mtfCheck2F2,jdbcType=VARCHAR},
        MTF_CHECK2_F3 = #{mtfCheck2F3,jdbcType=VARCHAR},
        MTF_CHECK2_F4 = #{mtfCheck2F4,jdbcType=VARCHAR},

        MTF_CHECK3_FC = #{mtfCheck3FC,jdbcType=VARCHAR},
        MTF_CHECK3_F1 = #{mtfCheck3F1,jdbcType=VARCHAR},
        MTF_CHECK3_F2 = #{mtfCheck3F2,jdbcType=VARCHAR},
        MTF_CHECK3_F3 = #{mtfCheck3F3,jdbcType=VARCHAR},
        MTF_CHECK3_F4 = #{mtfCheck3F4,jdbcType=VARCHAR},
        CHART_ALIGNMENT_X_RES_MIN = #{chartAlignmentXResMin,jdbcType=VARCHAR},
        CHART_ALIGNMENT_X_RES_MAX = #{chartAlignmentXResMax,jdbcType=VARCHAR},
        CHART_ALIGNMENT_Y_RES_MIN = #{chartAlignmentYResMin,jdbcType=VARCHAR},
        CHART_ALIGNMENT_Y_RES_MAX = #{chartAlignmentYResMax,jdbcType=VARCHAR},
        CHART_ALIGNMENT1_X_RES_MIN = #{chartAlignment1XResMin,jdbcType=VARCHAR},
        CHART_ALIGNMENT1_X_RES_MAX = #{chartAlignment1XResMax,jdbcType=VARCHAR},
        CHART_ALIGNMENT1_Y_RES_MIN = #{chartAlignment1YResMin,jdbcType=VARCHAR},
        CHART_ALIGNMENT1_Y_RES_MAX = #{chartAlignment1YResMax,jdbcType=VARCHAR},
        CHART_ALIGNMENT2_X_RES_MIN = #{chartAlignment2XResMin,jdbcType=VARCHAR},
        CHART_ALIGNMENT2_X_RES_MAX = #{chartAlignment2XResMax,jdbcType=VARCHAR},
        CHART_ALIGNMENT2_Y_RES_MIN = #{chartAlignment2YResMin,jdbcType=VARCHAR},
        CHART_ALIGNMENT2_Y_RES_MAX = #{chartAlignment2YResMax,jdbcType=VARCHAR},
        EPOXY_INSPECTION_INTERVAL = #{epoxyInspectionInterval,jdbcType=VARCHAR},
        VCM_CHECK_RESULT_CHECK_MIN = #{vcmCheckResultCheckMin,jdbcType=VARCHAR},
        VCM_CHECK_RESULT_CHECK_MAX = #{vcmCheckResultCheckMax,jdbcType=VARCHAR},
        RECORD_POSITION_UT_XYZ_MOVE = #{recordPositionUtXyzMove,jdbcType=VARCHAR},
        OC_CHECK_X_OFFSET_MIN = #{ocCheckXOffsetMin,jdbcType=VARCHAR},
        OC_CHECK_X_OFFSET_MAX = #{ocCheckXOffsetMax,jdbcType=VARCHAR},
        OC_CHECK_Y_OFFSET_MIN = #{ocCheckYOffsetMin,jdbcType=VARCHAR},
        OC_CHECK_Y_OFFSET_MAX = #{ocCheckYOffsetMax,jdbcType=VARCHAR},
        SAVE_OC_X_OFFSET_MIN = #{saveOcXOffsetMin,jdbcType=VARCHAR},
        SAVE_OC_X_OFFSET_MAX = #{saveOcXOffsetMax,jdbcType=VARCHAR},
        SAVE_OC_Y_OFFSET_MIN = #{saveOcYOffsetMin,jdbcType=VARCHAR},
        SAVE_OC_Y_OFFSET_MAX = #{saveOcYOffsetMax,jdbcType=VARCHAR},
        SAVE_MTF_CC_MIN = #{saveMtfCcMin,jdbcType=VARCHAR},
        SAVE_MTF_CC_MAX = #{saveMtfCcMax,jdbcType=VARCHAR},
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
        UPDATE_TIME = #{updateTime,jdbcType=DATE},
        REMARK = #{remark,jdbcType=VARCHAR}
        <where>
            <if test="id != null">
                AND ID = #{id}
            </if>
            <if test="prodType != null">
                AND PROD_TYPE = #{prodType}
            </if>
        </where>
    </update>

    <delete id="deleteAaListParamsStdModelByIds">
        DELETE FROM IMBIZ.IM_AA_LIST_PARAMS_STD_MODEL WHERE ID IN
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteAaListParamsStdModel">
        DELETE FROM IMBIZ.IM_AA_LIST_PARAMS_STD_MODEL
        <where>
            <if test="id != null">
                AND ID = #{id}
            </if>
            <if test="prodType != null">
                AND PROD_TYPE = #{prodType}
            </if>
        </where>
    </delete>

    <select id="selectAaListParamsStdModelList" resultType="AaListParamsStdModelDetail">
        <include refid="AaListParamsStdModelSql"/>
        <where>
            <if test="id != null">
                AND ID = #{id}
            </if>
            <if test="prodType != null">
                AND PROD_TYPE = #{prodType}
            </if>
        </where>
    </select>

    <select id="checkIfExists" resultType="int">
        SELECT COUNT(1)
        FROM IMBIZ.IM_AA_LIST_PARAMS_STD_MODEL
        WHERE PROD_TYPE = #{prodType}
    </select>
</mapper>