<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtech.wb.mapper.WbComparisonResultMapper">
    <resultMap id="WbComparisonResultVoResult" type="WbComparisonResultVo">
        <result property="simId" column="sim_id" />
        <result property="dt" column="dt" />
        <result property="status" column="code" />
        <result property="description" column="description" />
    </resultMap>

    <sql id="selectWbComparisonResultVo">
        select sim_id, dt, code, description from qtech_wb.public.eq_control_info
    </sql>

    <select id="selectWbComparisonResultList" parameterType="WbComparisonResultVo" resultMap="WbComparisonResultVoResult">
        <include refid="selectWbComparisonResultVo" />
        <where>
            <if test="simId != null and simId != ''"> and sim_id = #{simId}</if>
            <if test="status != null"> and code = #{status}</if>
        </where>
        order by dt desc
    </select>
</mapper>
